.body {
  width: 80%;
  padding-top: 5px;
}

table,
td,
th {
  border: 1px solid;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: center;
  vertical-align: middle;
}

.pointer {
  cursor: pointer;
}
