.footer {
  background-color: var(--background-Color);
  height: 5rem;
  font-size: 20px;
}
.footer img {
  width: 150px;
}

.circle {
  height: 28px;
  width: 28px;
  border: 1px solid;
  text-align: center;
  border-radius: 50%;
}
