.generateSlot{
    height: 33vh;
    background-color: var(--background-Color);
    border-top-right-radius:25px ;
}

.generateSlot form{
    border: none;
}

.generateSlot form div input{
    width: 2rem;
    margin-left: 10px;
    border: none;
    border-bottom: 2px dashed gray;
    background-color: transparent;
}

input[type="text"]:focus{
    outline: none;
}

.generateSlot form div label{
    font-weight: 500;
}

.generateSlot form button{
    border: 2px solid black;
    cursor: pointer;
}