/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 10rem;
  background: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Pos  ition the tooltip */
  position: absolute;
  z-index: 1;
  top: 0.625rem;
  left: 100%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

input:focus{
  outline: none;
}
input{
  background: transparent;
}

#menu{
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}

#menu:hover {
  visibility: visible;
}